<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Barcode Generator</h2>
    <form action="">
        <table>
            <tr>
                <th>Enter Text</th>
                <td><textarea type="text" name="text" required id="" cols="100" rows='20'></textarea></td>
            </tr>
             <tr>
                <th>Choose Colour</th>
                <td>
                    <select name="colour" required id="">
<option>Green</option>
<option>Red</option>
<option>Blue</option>
<option>Black</option>
<option>White</option>
<option>Yellow</option>
<option>Purple</option>
                    </select>
                </td>
            </tr>
                 <tr>
                <th>Would you like to add image ?</th>
                <td>
                    <select name="image_choice" required id="">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                    </select>
                </td>
            </tr>
            <tr><td colspan="2"><input type="submit" value="Proceed"></td></tr>
        </table>
        {% if path and text %}
          <hr>
          <h3>Result of Generated Barcode</h3>
          <table border ='1' cellpadding='20'>
              <tr>
                  <th>Data</th>
                  <td>{{ text }}</td>
              </tr>
                <tr>
                  <th>Image Path</th>
                  <td><img src="{{ path }}" alt=""></td>
              </tr>
          </table>
        {% endif %}
    </form>
</body>
</html>